@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Poppins:wght@300;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  -webkit-transition-duration: 1s;
          transition-duration: 1s; }

a {
  text-decoration: none; }

input:active, input:hover, input:focus {
  outline: 0;
  outline-offset: 0; }

textarea:active, textarea:hover, textarea:focus {
  outline: 0;
  outline-offset: 0; }

a:active, a:hover, a:focus {
  outline: 0;
  outline-offset: 0; }

.top__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-line-pack: center;
      align-content: center; }
  .top__label .line {
    height: 2px;
    width: 60px;
    margin-right: 25px;
    background: #a9afc3;
    -ms-flex-item-align: center;
        align-self: center; }
  .top__label .about__title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1em;
    line-height: 150%;
    color: #a9afc3; }

.title {
  font-size: 4em;
  line-height: 110%;
  font-weight: 700;
  color: #ffffff;
  text-align: left; }

.about {
  font-size: 1.125em;
  line-height: 170%;
  color: #A9AFC3;
  font-weight: 400;
  font-family: 'Mulish', sans-serif; }

.red {
  color: #ef3131; }

ul {
  list-style: none; }

.fa-bars {
  display: none !important; }

.container__header {
  width: 95%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

.container__content {
  width: 66.6666666667%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

.container__content {
  width: 66.6666666667%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

.container__content__second {
  width: 74.7126436782%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  height: 100%; }

body {
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  body .header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 110px; }
    body .header .header__content {
      display: grid;
      grid-template-columns: 15% 60% 25%;
      height: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      body .header .header__content img {
        max-width: 100%; }
      body .header .header__content nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: start;
            align-self: start; }
        body .header .header__content nav ul li {
          font-family: 'Mulish', sans-serif;
          font-weight: 400;
          font-size: 1.125em;
          margin-left: 60px; }
          body .header .header__content nav ul li a {
            color: #ffffff; }
          body .header .header__content nav ul li a:hover, body .header .header__content nav ul li a:active, body .header .header__content nav ul li a:focus {
            padding-bottom: 10px;
            font-weight: 800;
            border-bottom: 3px solid #ef3131; }
        body .header .header__content nav ul li:first-child {
          margin-left: 0; }
      body .header .header__content .header__phone {
        text-align: right;
        font-weight: 500;
        color: #ef3131;
        font-size: 1.25em;
        line-height: 150%; }
  body main {
    background: #191c26; }
    body main .services {
      z-index: 2;
      padding-top: 200px; }
      body main .services .service__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
        padding-bottom: 80px; }
        body main .services .service__content .services__main__content {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          gap: 50px; }
        body main .services .service__content .container__cases {
          display: grid;
          grid-template-columns: 33.3% 33.3% 33.3%;
          grid-row-gap: 40px; }
          body main .services .service__content .container__cases .cases__container {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            gap: 36px;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            body main .services .service__content .container__cases .cases__container .mask {
              position: absolute;
              width: 100%;
              height: 100%;
              background: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0)), to(#191C26));
              background: linear-gradient(180deg, rgba(25, 28, 38, 0) 0%, #191C26 100%); }
            body main .services .service__content .container__cases .cases__container img {
              max-width: 100%; }
            body main .services .service__content .container__cases .cases__container .hover__arrow {
              display: none;
              color: #ffffff;
              position: absolute;
              bottom: 30px;
              left: 10%; }
            body main .services .service__content .container__cases .cases__container .subtitle {
              display: none;
              bottom: 100px;
              position: absolute;
              font-size: 1.375em;
              line-height: 130%;
              text-align: center;
              width: 100%;
              font-weight: 500;
              color: #ffffff; }
          body main .services .service__content .container__cases .cases__container:hover {
            -webkit-transform: translate(0, -20px);
                    transform: translate(0, -20px);
            cursor: pointer; }
            body main .services .service__content .container__cases .cases__container:hover .hover__arrow {
              display: block; }
            body main .services .service__content .container__cases .cases__container:hover .subtitle {
              display: block; }
            body main .services .service__content .container__cases .cases__container:hover .mask {
              background: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 10, 18, 0.6)), to(#DD4242));
              background: linear-gradient(180deg, rgba(8, 10, 18, 0.6) 0%, #DD4242 100%); }
        body main .services .service__content .button__second {
          max-width: 260px !important;
          width: 100%;
          background: #ef3131;
          border: 2px solid #ef3131;
          height: 60px;
          border-radius: 50px;
          display: grid;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          align-self: center;
          font-family: 'Mulish', sans-serif;
          font-weight: 700;
          font-size: 1.25em;
          text-transform: uppercase;
          color: #ffffff; }
        body main .services .service__content .button__second:hover {
          cursor: pointer;
          border-color: #e41d1d;
          background: #e41d1d; }

footer {
  z-index: 2;
  width: 100%;
  padding: 80px 0 80px 0;
  background: #12141b; }
  footer .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
    footer .footer__content .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 50px; }
      footer .footer__content .container img {
        -ms-flex-item-align: start;
            align-self: start; }
      footer .footer__content .container .subtitle {
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        font-size: 1em;
        color: #ffffff; }
      footer .footer__content .container .about {
        color: #A9AFC3;
        font-size: 1em; }
    footer .footer__content .containers {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%; }
      footer .footer__content .containers .container {
        margin: 0; }
/*# sourceMappingURL=cases.css.map */